Repository Rrayor/braincandy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

formatted
  .lintstagedrc.json
  nx.json
  package.json
Due: none

husky adjustment
  .husky/pre-commit.sh
  package.json
Due: none

chore: :wrench: pre-commit checks
  .cz-config.js
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  commitlint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
Due: none

chore: :wrench: package boundaries and ci
  .eslintrc.json
  .github/workflows/ci.yml
  apps/api/project.json
  apps/frontend/project.json
  package-lock.json
  package.json
Due: none

chore: :wrench: package boundaries and ci (#1)
  .eslintrc.json
  .github/workflows/ci.yml
  apps/api/project.json
  apps/frontend/project.json
  package-lock.json
  package.json
Due: none

chore: :wrench: wip: Nest config Prisma
  .env
  .gitignore
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/shared/prisma.service.spec.ts
  apps/api/src/app/modules/shared/prisma.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write

chore: :heavy_plus_sign: nest configuration
  apps/api/src/app/app.module.ts
  apps/api/src/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: :bug: csrf fix
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

chore: :coffin: removed test code
  apps/api/src/app/app.controller.ts
Due: eslint --fix, prettier --write

fix: :green_heart: nx format config fix
  nx.json
Due: none

chore: :art: formatting
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/shared/prisma.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

Chore/nest config (#2)
  .env
  .gitignore
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/shared/prisma.service.spec.ts
  apps/api/src/app/modules/shared/prisma.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
  nx.json
  package-lock.json
  package.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write

chore: :wrench: nx storybook and material install
  apps/frontend-e2e/src/e2e/app.component.cy.ts
  apps/frontend-e2e/src/e2e/nx-welcome.component.cy.ts
  apps/frontend/.storybook/main.js
  apps/frontend/.storybook/preview.js
  apps/frontend/.storybook/tsconfig.json
  apps/frontend/project.json
  apps/frontend/src/app/app.component.stories.ts
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/nx-welcome.component.stories.ts
  apps/frontend/src/index.html
  apps/frontend/src/styles.scss
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: :heavy_plus_sign: added angular-plotly for graphs
  package-lock.json
  package.json
Due: none

chore: :wrench: tried to add code coverage
  apps/api/jest.config.ts
  apps/frontend/jest.config.ts
Due: eslint --fix, prettier --write

chore: :art: format code with nx
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/index.html
  apps/frontend/src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: :lock: nx token secured
  nx.json
Due: none

ci: :bug: nx cloud access fix
  .github/workflows/ci.yml
Due: none

Chore/frontend config (#4)
  .github/workflows/ci.yml
  apps/api/jest.config.ts
  apps/frontend-e2e/src/e2e/app.component.cy.ts
  apps/frontend-e2e/src/e2e/nx-welcome.component.cy.ts
  apps/frontend/.storybook/main.js
  apps/frontend/.storybook/preview.js
  apps/frontend/.storybook/tsconfig.json
  apps/frontend/jest.config.ts
  apps/frontend/project.json
  apps/frontend/src/app/app.component.stories.ts
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/nx-welcome.component.stories.ts
  apps/frontend/src/index.html
  apps/frontend/src/styles.scss
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: update ci.yml
  .github/workflows/ci.yml
Due: none

feat: :sparkles: wip: started firebase auth implementation
  apps/api/src/auth/auth.module.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: :sparkles: wip: auth routes
  .husky/pre-commit
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/auth.controller.ts
  apps/api/src/app/modules/auth/auth.module.ts
  apps/api/src/app/modules/auth/auth.service.ts
  apps/api/src/app/modules/auth/dto/CreateUser.dto.ts
  apps/api/src/app/modules/auth/dto/CreateUserResponse.dto.ts
  apps/api/src/app/modules/auth/dto/LoginUser.dto.ts
  apps/api/src/app/modules/auth/enums/roles.enum.ts
  apps/api/src/app/modules/auth/firebase.setup.ts
  apps/api/src/app/modules/shared/decorators/auth.decorator.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/app/modules/shared/service/prisma.service.spec.ts
  apps/api/src/app/modules/shared/service/prisma.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: :sparkles: wip: auth routes
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/auth.controller.ts
  apps/api/src/app/modules/auth/auth.module.ts
  apps/api/src/app/modules/auth/auth.service.ts
  apps/api/src/app/modules/auth/dto/CreateUser.dto.ts
  apps/api/src/app/modules/auth/dto/CreateUserResponse.dto.ts
  apps/api/src/app/modules/auth/dto/LoginUser.dto.ts
  apps/api/src/app/modules/auth/enums/roles.enum.ts
  apps/api/src/app/modules/auth/firebase.setup.ts
  apps/api/src/app/modules/shared/decorators/auth.decorator.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

chore: :art: cleaned up auth code
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/auth.controller.ts
  apps/api/src/app/modules/auth/auth.module.ts
  apps/api/src/app/modules/auth/auth.service.ts
  apps/api/src/app/modules/auth/dto/LoginUser.dto.ts
  apps/api/src/app/modules/shared/firebase.setup.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
  nx.json
Due: eslint --fix, prettier --write

chore: :art: improved bad request swagger descriptions
  apps/api/src/app/modules/auth/auth.controller.ts
Due: eslint --fix, prettier --write

test: :white_check_mark: wip: auth guard test
  apps/api/src/app/modules/shared/guards/auth.guard.spec.ts
Due: eslint --fix, prettier --write

test: :white_check_mark: auth guard tests
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/modules/shared/guards/auth.guard.spec.ts
Due: eslint --fix, prettier --write

Feature/connect firebase auth (#6)
  .husky/pre-commit
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/auth.controller.ts
  apps/api/src/app/modules/auth/auth.module.ts
  apps/api/src/app/modules/auth/auth.service.ts
  apps/api/src/app/modules/auth/dto/CreateUser.dto.ts
  apps/api/src/app/modules/auth/dto/CreateUserResponse.dto.ts
  apps/api/src/app/modules/auth/enums/roles.enum.ts
  apps/api/src/app/modules/shared/decorators/auth.decorator.ts
  apps/api/src/app/modules/shared/firebase.setup.ts
  apps/api/src/app/modules/shared/guards/auth.guard.spec.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/app/modules/shared/service/prisma.service.spec.ts
  apps/api/src/app/modules/shared/service/prisma.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: :sparkles: library CRUD
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/enums/roles.enum.ts
  apps/api/src/app/modules/library/dto/data-set-response.dto.ts
  apps/api/src/app/modules/library/dto/key-value-response.dto.ts
  apps/api/src/app/modules/library/dto/library-response.dto.ts
  apps/api/src/app/modules/library/library.controller.ts
  apps/api/src/app/modules/library/library.module.ts
  apps/api/src/app/modules/library/library.service.ts
  apps/api/src/app/modules/shared/constants/prisma-codes.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/app/modules/shared/service/firebase.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write

fix: :white_check_mark: extend comments and fix tests
  apps/api/src/app/modules/library/library.controller.ts
  apps/api/src/app/modules/library/library.service.spec.ts
  apps/api/src/app/modules/library/library.service.ts
  apps/api/src/app/modules/shared/guards/auth.guard.spec.ts
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

chore: :bulb: extended TODO with ticket number
  apps/api/src/app/modules/shared/service/firebase.service.ts
Due: eslint --fix, prettier --write

fix: :white_check_mark: fixed app controller test
  apps/api/src/app/app.controller.spec.ts
Due: eslint --fix, prettier --write

#7 feat: :sparkles: library CRUD (#10)
  apps/api/src/app/app.controller.spec.ts
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/auth/enums/roles.enum.ts
  apps/api/src/app/modules/library/dto/data-set-response.dto.ts
  apps/api/src/app/modules/library/dto/key-value-response.dto.ts
  apps/api/src/app/modules/library/dto/library-response.dto.ts
  apps/api/src/app/modules/library/library.controller.ts
  apps/api/src/app/modules/library/library.module.ts
  apps/api/src/app/modules/library/library.service.spec.ts
  apps/api/src/app/modules/library/library.service.ts
  apps/api/src/app/modules/shared/constants/prisma-codes.ts
  apps/api/src/app/modules/shared/guards/auth.guard.spec.ts
  apps/api/src/app/modules/shared/guards/auth.guard.ts
  apps/api/src/app/modules/shared/service/firebase.service.ts
  apps/api/src/app/modules/shared/shared.module.ts
  apps/api/src/main.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: apps/**/*.html)) or (any of: apps/**/*.scss)
  stylelint --fix: any of: apps/**/*.scss
